.sidebar{
    position: relative;
    width: 20%;
    height: 35vh;
    left: 3vw;
    top: 15vh;
    /* background-color: rgba(0, 0, 255, 0.596); */
    color: brown;
    background-color: burlywood;
    border: 2px solid #000000;
    border-radius: 5px;
}
.sidebar li{
    padding-top: 5vh;
    padding-left: 2vw;
    list-style: none;
}
.sidebar li:hover{
    color: red
}
.containers{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}
