.table h2{
    text-align: center;
    color: brown;
    background-color: burlywood;
}
.table .table-heading, .table-record{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.containers{
    height: auto;
    
}
.table{
    position:relative;
    width: 70%;
    height: auto;
    left: 15%;
    top: 10vh;
    border: 2px solid #000000;
    border-radius: 5px;
}
.hidden{
    display: none;
}
#buydata{
    display: flex;
    justify-content: space-around;
}
.image img{
    width: 10vw;
    height: 30vh;
}
.table-record:hover{
    color: rgba(128, 128, 128, 0.753);
}
.orderdata{
    width: 100%;
}
.data{
    list-style: none;
}
