<!-- For creating order page -->

<div class="containers">
  <!-- creating a table -->
<div class="table">
  <!-- creating a heading -->
  <h2 id="title">My Orders</h2>
  <!-- table heading -->
  <div class="table-heading">
    <th scope="col">#</th>
    <th scope="col">Order Id</th>
    <th scope="col">Order Date</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Mode</th>
  </div>

<!-- Looping a data -->
<div *ngFor = "let detail of orderdetail; let i = index">
  <div class="table-record" (click) = "buydetail(i)">
    <td scope="row">{{ i + 1 }}</td>
    <td>{{detail.orderid}}</td>
    <td>{{detail.orderdate}}</td>
    <td>{{detail.name}}</td>
    <td>Rs.{{detail.price}}/-</td>
    <td>{{detail.mode}}</td>
</div>

<!-- for order detail -->
<div class=" orderdata hidden" id="buy{{i}}">
  <!-- Heading -->
  <h4>Order Details</h4>
  <!-- Looping a data -->
  <div class="contain" *ngFor= "let buyitem of detail.cakes" >
    <div id="buydata">
      <div class="image">
        <img src="{{buyitem.image}}" alt="">
      </div>
      <div class="data">
      <li>Cake-Name: {{buyitem.name}}</li>
      <li>Quantity: {{buyitem.quantity}}</li>
      <li>Price: {{buyitem.price}}</li>
      <li>Weight: {{buyitem.weight}} Kg</li>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- for routing -->
<router-outlet></router-outlet>