/* for styling page */
.containers{
    position: relative;
    left: 15vw;
    top: 5vh;
    width: 50vw;
    border: 2px solid #000000;
    border-radius: 5px;
}
/* for styling heading */
#title{
    text-align: center;
    color: brown;
    background-color: burlywood;
}
/* for styling image */
#cakeimg{
    width: 5vw;
    height: 5vw;
}
/* for styling checkout button */
#checkout{
    margin-left: 80vw;
    margin-top: 2vh;
}
/* for styling button */
button{
    margin-left: 20vw;
    margin-bottom: 2vh;
}