<div class="containers">
<h2 id="title">Order Summary</h2>
  <table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cake</th>
          <th scope="col">Cake Name</th>
          <th scope="col">Price</th>
          <th scope="col">Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of detail; let i = index" id="record">
          <td scope="row">{{ i + 1 }}</td>
          <td scope="col"><img id="cakeimg" src="{{item.image}}" alt=""></td>
          <td>{{item.name}}</td>
          <td>Rs.{{item.price}}/-</td>
          <td>{{item.weight}} kg</td>
        </tr>
</table>
<button class="btn btn-success" routerLink= "/checkout/orderdetail" click="next()">Confirm Order</button>
</div>