h2 {
    text-align: center;
}
input {
    margin-left: 15vw;
}
button {
    margin-left: 22vw;
    margin-bottom: 3vh;
    background-color: rgba(0, 0, 255, 0.596);
    border-radius: 5px;
    border: 2px solid #000000;
}
form{
    position: relative;
    background-color: rgba(255, 192, 203, 0.678);
    width: 50vw;
    left: 30%;
    top: 5vh;
}