/* For styling heading */
h2{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
    color: brown;
    background-color: burlywood;
}
/* For styling input box */
input {
    margin-left: 15vw;
}
/* For styling button */
button {
    margin-left: 22vw;
    margin-bottom: 3vh;
    background-color: burlywood;
    border-radius: 5px;
    border: 2px solid #000000;
}
/* For styling form */
form{
    position: relative;
    background-color: rgba(188, 143, 143, 0.561);
    width: 50vw;
    left: 30%;
    top: 5vh;
}