/* For styling heading */
h2{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
    color: brown;
    background-color: burlywood;
}
/* For styling page */
.containers{
    min-width: 100vw;
    min-height: 100vh;
}
/* For styling form */
form{
    position: relative;
    background-color: rgba(188, 143, 143, 0.561);
    width: 30%;
    left: 35%;
    top: 7vh;
    border-radius: 5px;
    border: 2px solid #000000;
}
/* For styling input box */
input{
    width: 20vw;
    margin-left: 5vw;
}
/* For styling button */
button{
    margin-left: 12vw;
    background-color: burlywood;
    border-radius: 5px;
    border: 2px solid #000000;
}
/* For styling sign-up link */
#signup{
    margin-left: 5vw;
}
/* For styling password forgot link */
#forgot{
    margin-left: 5vw;
    padding-bottom: 4vh;
}