/* for styling page */
.containers{
    min-width: 100vw;
    min-height: 100vh;
}
/* For styling heading */
h2{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
    color: brown;
    background-color: burlywood;
}
/* for styling form */
form{
    position: relative;
    background-color: rgba(188, 143, 143, 0.561);
    width: 30%;
    left: 35%;
    top: 20vh;
    border-radius: 5px;
    border: 2px solid #000000;
}
/* for styling input boxes */
input{
    width: 20vw;
    margin-left: 5vw;
}
/* for styling button */
#submit{
    margin-left: 12vw;
    margin-bottom: 5vh;
    background-color: burlywood;
    border-radius: 5px;
    border: 2px solid #000000;
}