/* for image style */

img{
    width: 30px;
    height: 30px;
}
/* for page style */

.containers{
    height: 200vh;
}
/* for styling table */

.table h2{
    padding-bottom: 2vh;
    margin-left: 25vw;
}
.table .table-heading, .table-record{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 2fr;
    padding-left: 5vw;
}
.table{
    background: rgba(255, 192, 203, 0.678);
    position:relative;
    width: 70%;
    height: auto;
    left: 15%;
    top: 10vh;
    border: 2px solid #000000;
    border-radius: 5px;
}
.table-record:hover{
    color: rgba(128, 128, 128, 0.753);
}
/* for styling button */

button{
   margin-left: 20vw;
   margin-top: 2vh;
}
/* for styling title */

#title{
    margin-left: 30vw;
}