form{
    margin-left: 40vw;
}
#submit{
    margin-left: 6vw;
}
h3{
    text-align: center;
    padding-top: 15vh;
}
.page{
    background: url('/assets/back.jpg') no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}