<div class="page">
    <h3>Create a password</h3>
<form action="">
    <div class="mb-3 col-4">
        <input type="password" class="form-control" placeholder="Enter your Password" name="email" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="mb-3 col-4">
        <input type="password" class="form-control" placeholder="confirm your Password" name="email" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <button id="submit" class="btn btn-primary">Submit</button>
</form>
</div>
