<div class="containers">
    <form action="">
    <h2>Add new cake</h2>
    <div id="detail" class="mb-3">
        <label for="name">Name
        <input [(ngModel)] = "addcake.name"  type="text" class="form-control" placeholder="Enter Cake Name" name="name"  aria-describedby="addon-wrapping">
    </label>
        <label for="price">Price   
        <input [(ngModel)] = "addcake.price"  type="text" class="form-control" placeholder="Enter Cake Price" name="price"  aria-describedby="addon-wrapping">
    </label>
    </div>
    <div id="detail" class="mb-3">
        <select [(ngModel)] = "addcake.categories" value="{{addcake.categories}}"  type="text" class="form-control" placeholder="Enter Cake categories" name="categories"  aria-describedby="addon-wrapping">
            <option value="" disabled selected>Choose a Cake-Categories</option>
            <option [ngValue] = "'birthday'" value="1">Eggless</option>
            <option [ngValue] = "'wedding'" value="2">Eggish</option>
            </select>
        <select [(ngModel)] = "addcake.type" value="{{addcake.type}}" type="text" class="form-control" placeholder="Enter Cake type" name="type"  aria-describedby="addon-wrapping">
            <option value="" disabled selected>Choose a Cake-Type</option>
            <option [ngValue] = "'birthday'" value="1">Birthday Cake</option>
            <option [ngValue] = "'wedding'" value="2">Wedding Cake</option>
            <option [ngValue] = "'anniversary'" value="2">Anniversary Cake</option>
            <option [ngValue] = "'lockdown'" value="2">Lockdown Cake</option>
        </select>
    </div>
    <div id="detail" class="mb-3">
        <label for="weight">Weight
        <input [(ngModel)] = "addcake.weight" type="text" class="form-control" placeholder="Enter Cake Weight" name="weight"  aria-describedby="addon-wrapping">
    </label>
        <label for="flavour">Flavour
        <input [(ngModel)] = "addcake.flavour" type="text" class="form-control" placeholder="Enter Cake Flavour" name="flavour"  aria-describedby="addon-wrapping">
    </label>
    </div>
    <div id="detail" class="mb-3">
        <label for="ingredients">Ingredients
        <input [(ngModel)] = "addcake.ingredients" type="text" class="form-control" placeholder="Enter Ingredients" name="ingredients"  aria-describedby="addon-wrapping">
    </label>
        <label for="description">Description
        <textarea [(ngModel)] = "addcake.description" type="text" class="form-control" placeholder="Enter Cake Description" name="description"  aria-describedby="addon-wrapping"></textarea>
    </label>
    </div>
    <div id="image">
        <label for="image">Image
        <input (change) = "submit($event)" type="file">
    </label>
    </div>
    <div id="photo">
        <img [src] ="addcake.image" alt="" srcset="">
    </div>
      <button (click) = "add()" id="add">Add Cake</button>
    </form>
    </div>

